<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Absolute Cinema{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Absolute Cinema</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('movies') }}">Movies</a> |
            <a href="{{ url_for('about') }}">About</a> |
            <a href="{{url_for( 'signup' ) }}">Sign Up</a>

        </nav>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>#Author: Dexteh</p>
    </footer>
</body>
</html>